* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #Header{
    background-color: #0e1d55;
    padding: 20px;
  
    .container-fluid{
        .row{
            align-items: center;
         nav{
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: #AAAAAA;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: .14em;
            }
         }
         .site-header{
            display: flex;
            justify-content: end;
            gap: 20px;
            a{
             text-decoration: none;
             color: #AAAAAA;
             font-family: 'Source Sans Pro', sans-serif;
             font-size: 20px;

            }
         }
        }
    }
  }
  #Slider{
    width: 100%;
    .sliderBody{
        .slick-1{
            background-image:url(/assets/Images/slider__1.webp);
            background-size: cover;
            background-position: center;
             position: relative;
          padding: 120px 0;
           .slick-1-body{
           border:1px solid red;
            h2{
                color: #ffffff;
                text-align: left;
                cursor: grab;
                font-family: 'Playfair Display', serif;
                font-size: 70px;
                display: inline-block;
                position: relative;
                &::before{
                    content: '';
                    width: 120%;
                    height: 5px;
                    background: #CCA471;
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    left: 0;
                    z-index: 11;
                }
            }
            p{
                color: #CCA471;
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 20px;
                margin-bottom: 30px;
            }
            .info{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 18px;
                color: #AAAAAA;
                width: 40%;    
                line-height: 40px;
                display: inline-block;
                margin-bottom: 30px;
                
            }
            .offer-price{
                margin-bottom: 50px;
                .price{
                    color: #CCA471;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 62px; 
                }
            }
            .explore{
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #ffffff;
                    background-color: #343435;
                    padding: 20px 40px;
                    position: relative;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 4px;
                        background: #CCA471;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        z-index: 11;
                    }
                }
            }
           }
        }
        .slick-2{
            background-image:url(/assets/Images/slider__3_2000x_1.webp);
            background-size: cover;
            background-position: center;
            padding: 120px 0;
           display: flex;
         justify-content: flex-end;
            .slick-2-body{
                width: 50%;
          
                h2{
                    color: #ffffff;
                    text-align: left;
                    cursor: grab;
                    font-family: 'Playfair Display', serif;
                    font-size: 70px;
                    display: inline-block;
                    position: relative;
                    
                    &::before{
                        content: '';
                        width: 120%;
                        height: 5px;
                        background: #CCA471;
                        position: absolute;
                        bottom: 10px;
                        right: 0;
                        left: 0;
                        
                    }
                }
                p{
                    color: #CCA471;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 20px;
                    margin-bottom: 30px;
                }
                .info{
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 18px;
                    color: #AAAAAA;
                    width: 65%;    
                    line-height: 40px;
                    display: inline-block;
                    margin-bottom: 30px;
                    
                }
                .offer-price{
                    margin-bottom: 50px;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    .old-price{
                        color: #AAAAAA;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 32px; 
                        text-decoration: line-through;
                    }
                    .price{
                        color: #CCA471;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 62px; 
                    }
                }
                .explore{
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-family: 'Source Sans Pro', sans-serif;
                        color: #ffffff;
                        background-color: #343435;
                        padding: 20px 40px;
                        position: relative;
                        &::before{
                            content: '';
                            width: 100%;
                            height: 4px;
                            background: #CCA471;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            z-index: 11;
                        }
                    }
                }
            }
        }
        .slick-3{
            background-image:url(/assets/Images/slider__2.webp);
            background-size: cover;
            background-position: center;
            position: relative;
            padding: 350px 0;
            .slick-3-body{
                position: absolute ;
                top: 80px;  
                text-align: center;
                h2{
                  
                    color: #ffffff;
                    text-align: center;
                    cursor: grab;
                    font-family: 'Playfair Display', serif;
                    font-size: 70px;
                    display: inline-block;
                    position: relative;
                    
                    &::before{
                        content: '';
                        width: 120%;
                        height: 5px;
                        background: #CCA471;
                        position: absolute;
                        bottom: 10px;
                      
                        
                    }
                }
                p{
                    color: #CCA471;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 62px;
                    margin-bottom: 30px;
                }
                .info{
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 18px;
                    color: #AAAAAA;
                    width: 50%;    
                    line-height: 40px;
                    display: inline-block;
                    margin-bottom: 80px;
                    text-align: center;
                    
                }
           
                .explore{
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-family: 'Source Sans Pro', sans-serif;
                        color: #ffffff;
                        background-color: #343435;
                        padding: 20px 40px;
                        position: relative;
                        &::before{
                            content: '';
                            width: 100%;
                            height: 4px;
                            background: #CCA471;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            left: 0;
                            z-index: 11;
                        }
                    }
                }
            }
        }
    }
  }
  #Banner{
   background-color: #010209;
    .container{
        .row{
      
            .men{
                background-image: url(/assets/Images/Untitled-1.webp);
                background-size: cover;
                background-position: center;
                text-align: end;
                padding: 40px 50px;
                h6{
                    font-style: italic;
                    font-size: 24px;
                    font-family:  'Playfair Display', serif;
                    color: #CCA471;
                }
                a{
                    text-decoration: none;
                    font-size: 36px;
                    font-family:  'Playfair Display', serif;
                    color: #ffff;
                    display: inline-block;
                    margin-bottom: 20px;
    
                }
                p{
                    font-size: 24px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #AAAAAA;
                }
            }
            .women{
                background-image: url(/assets/Images/promo2_c5444c07-50e6-4452-90ed-99ca49a106fc.webp);
                background-size: cover;
                background-position: center;
                text-align: center;
                padding: 40px 50px;
                h6{
                    font-style: italic;
                    font-size: 24px;
                    font-family:  'Playfair Display', serif;
                    color: #CCA471;
                }
                a{
                    text-decoration: none;
                    font-size: 36px;
                    font-family:  'Playfair Display', serif;
                    color: #ffff;
                    display: inline-block;
                    margin-bottom: 20px;
    
                }
                p{
                    font-size: 24px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #AAAAAA;
                }
            }
            .couple{
                background-image: url(/assets/Images/promo3_e10c824c-b077-4e67-be09-c11067066cf5.webp);
                background-size: cover;
                background-position: center;
                text-align: end;
                padding: 40px 50px;
                h6{
                    font-style: italic;
                    font-size: 24px;
                    font-family:  'Playfair Display', serif;
                    color: #CCA471;
                }
                a{
                    text-decoration: none;
                    font-size: 36px;
                    font-family:  'Playfair Display', serif;
                    color: #ffff;
                    display: inline-block;
                    margin-bottom: 20px;
    
                }
                p{
                    font-size: 24px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #AAAAAA;
                }
            }
        }
       
    }
  }
  #Products{
    background-color: #010209;
    .container{
      .product-heading{
        text-align: center;
        h2{
            font-family: 'Playfair Display', serif;
            font-size: 42px;
            color: #fff;
            position: relative;
            display: inline-block;
            padding-left: 20px;
            &::before{
                content: '';
                width: 110%;
                height: 5px;
                background: #CCA471;
                position: absolute;
                bottom: 4px;
                right: 0;
                left: 0;
                z-index: 11;
            }
        }
      }
      .tabmenu{
        .tab {
            overflow: hidden;
            text-align: center;
            .tablinks {
                display: inline-block;
                position: relative;
                padding-bottom: 3px;
                margin-right: 10px;
                background:transparent;
                border: none;
                color: #AAAAAA;
           
              &::after{
                content: '';
                display: block;
                margin: auto;
                height: 3px;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;

              }
                transition: 0.3s;
                &:focus {
                   &::after{
                    width: 100%;
                    background: blue;
                   }
                  }
  
              }
            
          }
          .tabcontent {
            display: none;
           .owl-carousel{
           
          
            .owl-item {
             
                .product-single{
              width: 90%;
                   .pro-img{
                    width: 100%;
                    position: relative;
                    z-index: 1;
                   
                    a{
                        .overlay{
                    position: absolute;
                    background-color: #34353a;
                     z-index: -1;
                      height: 68%;
                      width: 100%;
                        }
                        img{
                            width: 100%;
                        }
                    }
                   }
                    .pro-content{
                        text-align: center;
                        h4{
                            
                            a{
                                
                                text-decoration: none;
                                font-family: 'Playfair Display', serif;
                                color:#fff;
                                font-size: 25px;
                            }
                        }
                        .prc{
                            color:#AAAAAA;
                            font-size: 25px;
                            font-weight: 600;
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                        .range{
                            i{
                                color: #fcc43e;
                                font-size: 14px;
                            }
                        }
                        .title{
                            font-size: 20px;
                            color:#AAAAAA;
                            font-family: 'Source Sans Pro', sans-serif;
                        }
                        button{
                            text-transform: uppercase;
                            font-size: 20px;
                            font-family: 'Source Sans Pro', sans-serif;
                            color: #ffffff;
                            background-color: #343435;
                            padding: 10px 40px;
                            position: relative;
                            &::before{
                                content: '';
                                width: 100%;
                                height: 4px;
                                background: #CCA471;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                z-index: 11;
                            }
                        }
                    }
                }
            }
           }
          }
          .active-tab{
            display: block;
          }
      }
    }
  }
#Time{
    background-image: url(/assets/Images/Bg1full.webp);
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    text-align: center;
    background-attachment: fixed;
    .Bodytime{
        h2{
            color: #fff;
            font-family:  'Playfair Display', serif;
            font-size: 42px;
            position: relative;
            display: inline-block;
            padding-left: 30px;
            &::before{
                content: '';
                width: 110%;
                height: 5px;
                background: #CCA471;
                position: absolute;
                bottom: 4px;
                right: 0;
                left: 0;
                z-index: 11;
            }
            
        }
        .timeclock{
            #defaultCountdown{
                background-color: red;
                
        height: 65px;
        width: 540px;
               color: white;
             
                .countdown-rtl {
                    direction: rtl;
                }
                .countdown-holding span {
                    color: #888;
                }
                .countdown-row {
                    clear: both;
                    width: 100%;
                    padding: 0px 2px;
                    text-align: center;
                }
                .countdown-show1 .countdown-section {
                   width: 30%;
                   display: inline-block;
                   height: 10%;
                 
                  
                }
                .countdown-show2 .countdown-section {
                   width: 10%;
                   display: inline-block;
                  
                 
                  
                }
                .countdown-show3 .countdown-section {
                   width: 10%;
                   display: inline-block;
                  
                 
                  
                }
                .countdown-show4 .countdown-section {
                   width: 10%;
                   display: inline-block;
                  
                 
                  
                }
                .countdown-show5 .countdown-section {
                   width: 10%;
                   display: inline-block;
                  
                 
                  
                }
                .countdown-show6 .countdown-section {
                   width: 10%;
                   display: inline-block;
                  
                 
                  
                }
                .countdown-show7 .countdown-section {
                   width: 10%;
                   display: inline-block;
                  
                 
                  
                }
                .countdown-section {
                    display: block;
                    float: left;
                    font-size: 75%;
                    text-align: center;
                }
                .countdown-amount {
                    font-size: 200%;
                }
                .countdown-period {
                    display: block;
                }
                .countdown-descr {
                    display: block;
                    width: 100%;
                }
                
            }
            
            // .singleclock{
            //     display: inline-block;
            //     background-color: #EAC89C;
            //     font-weight: 700;
            //     width: 10%;
            //     padding: 30px 60px;
            //     margin-right: 20px;
            //     text-align: center !important;
            //     .tm{
                
            //         color: #fff;
            //         font-size: 50px;

            //     }
            //     span{
            //         color: #fff;
            //         font-size: 25px;
            //         font-family: 'Source Sans Pro', sans-serif;
            //     }
            // }
        }
    }
}
#RomanNumeral{
    background-image: url(/assets/Images/Bg2.webp);
    background-size: cover;
    background-position: center;
    padding: 120PX 0;

    .RomanBody{
        display: inline-block;
        width: 45%;
        margin-left: 50px;
        h4{
            font-size: 25px;
            font-family:  'Playfair Display', serif;
            color: #ffff;
            margin-bottom: 20px;
        }
        p{
            font-size: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            color: #AAAAAA;
            line-height: 40px;
            margin-bottom: 40px;
            
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
                            font-size: 20px;
                            font-family: 'Source Sans Pro', sans-serif;
                            color: #ffffff;
                            background-color: #343435;
                            padding: 20px 40px;
                            position: relative;
                            &::before{
                                content: '';
                                width: 100%;
                                height: 4px;
                                background: #CCA471;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                left: 0;
                                z-index: 11;
                            }
        }
    }
}
#Collection{
    .AllCollection{
        
   .container-fluid{
    .row{
       
        .single-collection{
            transition: 1s;
            padding: 180px 0;
            display: inline-block;
            display: flex;
            justify-content: center;
            background-position: center;
            background-size: cover;
            position: relative;
           
            &:hover{
                cursor: pointer;
               &:after{
                display: block;
                 opacity: 0.8;
                transition: 1s !important;
               }
               .text-body{
                display: block;
               }
            }
            &:after{
                transition:   1.2s ;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 111;
                display: none;
              
            }
            .text-body{
                display: none;
                position: absolute;
                transform: translateY(-50%);
               
                text-align: center;
                z-index: 1111;
                width: 80%;
                h4{
                    font-family:  'Playfair Display', serif;
                    color: #fff;
                    font-size: 25px;
                    margin-bottom: 20px;
                }
                p{
                   line-height: 35px;
                    font-size: 20px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #AAAAAA;
                }
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-family: 'Source Sans Pro', sans-serif;
                    color: #ffffff;
                    background-color: #343435;
                    padding: 20px 40px;
                    position: relative;
                    display: inline-block;
                    margin-top: 20px;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 4px;
                        background: #CCA471;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        z-index: 11;
                    }
                }
            }
        }
        .single-collection:nth-child(1){
            background-image: url(/assets/Images/banner_286c6b34-88cb-465a-a2e8-2a5faf8295df.webp);
           
        }
        .single-collection:nth-child(2){
            background-image: url(/assets/Images/Gallery2.webp);
        }
  
        .single-collection:nth-child(3){
            background-image: url(/assets/Images/Gallery3.webp);
           
        }
        .single-collection:nth-child(4){
            background-image: url(/assets/Images/Gallery6.webp);
       
        }
        .single-collection:nth-child(5){
            background-image: url(/assets/Images/Gallery5.webp);
          
        }
        .single-collection:nth-child(6){
            background-image: url(/assets/Images/Gallery4.webp);
     
           
        }
    }
   }
    }
}
#WordsSlider{
    background-color: #091338;
    padding: 100px 0;
    .container{
      .word-all{
   
       
        
        .word{
            text-align: center;
            p{
            display: inline-block;
            color: #AAAAAA;
            font-family:  'Playfair Display', serif;
            font-size: 40px;
            width: 64%;
           
            }
            span{
            color: #fff;
            display: block;
            font-size: 20px;
            margin-top: 30px;
            }
          }  
      }
    }
}
#ProductCategory{
    background-color: #000;
    padding: 20px;
   .container-fluid{
    .productcategory-heading{
        text-align: center;
        h2{
            font-family: 'Playfair Display', serif;
            font-size: 42px;
            color: #fff;
            position: relative;
            display: inline-block;
            padding-left: 20px;
            &::before{
                content: '';
                width: 110%;
                height: 5px;
                background: #CCA471;
                position: absolute;
                bottom: 4px;
                right: 0;
                left: 0;
                z-index: 11;
            }
        }
    }
    .tabMenuProduct{
        .TabProduct{
            overflow: hidden;
            text-align: center;
            .tabLinksProduct {
                display: inline-block;
                position: relative;
                padding-bottom: 3px;
                margin-right: 10px;
                background:transparent;
                border: none;
                color: #AAAAAA;
           
              &::after{
                content: '';
                display: block;
                margin: auto;
                height: 3px;
                width: 0px;
                background: transparent;
                transition: width .5s ease, background-color .5s ease;

              }
                transition: 0.3s;
                &:focus {
                   &::after{
                    width: 100%;
                    background: blue;
                   }
                  }
  
              }
        }
        .tabContentProduct{
            display: none;
            .productCategory-single{
                .proCate-img{
                 position: relative;
                 z-index: 1;
                    a{
                        .overlay{
                            position: absolute;
                            background-color: #34353a;
                             z-index: -1;
                              height: 68%;
                              width: 100%;
                        }
                        img{
                      width: 100%;
                        }
                    }
                }
                .proCate-content{
                    text-align: center;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 25px;
                        font-family:  'Playfair Display', serif;
                    }
                }
            }
        }
        .active-tab{
            display: block;
        }
    }
   } 
}
#NewsLetter{
    background-color: #091338;
    padding: 80px 0;
    text-align: center;
    h2{
        font-family: 'Playfair Display', serif;
            font-size: 55px;
            color: #fff;
            position: relative;
            display: inline-block;
            padding-left: 20px;
            margin-bottom: 60px;
            &::before{
                content: '';
                width: 110%;
                height: 5px;
                background: #CCA471;
                position: absolute;
                bottom: 4px;
                right: 0;
                left: 0;
                z-index: 11;
            }
    }
    .formNewsletter{
    display: flex;
    margin-bottom: 30px;


       justify-content: center;
       width: 100%;
        input{
            outline: none;
            background-color: transparent;
            border: 1px solid #343535;
           width: 25%;
           height: 60px;
        
           &::placeholder{
            color: #AAAAAA;
            padding-left: 30px;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 20px;
           }
           &:focus{
            outline-color: #fff;
           }
        }
        button{
            border: none;
            text-transform: uppercase;
            font-size: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            color: #ffffff;
            background-color: #343435;
            padding: 10px 40px;
            position: relative;
            &::before{
                content: '';
                width: 100%;
                height: 4px;
                background: #CCA471;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 11;
            }
        
        }
    }
    p{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 22px;
        color: #AAAAAA;
    }
    .icons{
        i{

        }
    }
}